.grid_container {
  display: grid;
  grid-template-columns: auto;
  height: 100%;
  width: 100%;
}

.grid_item {
  margin: 10px;
  background-color: white;
  border: 1px solid #ff8f00;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* min-width: 40%; */
}

.select_style {
  min-width: 100px;
  min-height: 30px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
}

.rowVariable {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.listBox {
  margin-bottom: 5px;
  flex-grow: 1;
  overflow-y: auto;
  height: 0px;
}

.icon {
  color: #ff8f00;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;

  /* .bottom_aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
} */
}

.buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.button {
  color: white;
  background-color: #ff8f00;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
  border-color: rgb(255, 143, 0);
  outline: none;
  min-width: 200px;
}

.separator {
  border: 0.5px solid #ff8f00;
  margin-left: 15%;
  margin-right: 15%;
}

.textNote {
  text-align: center;
  line-height: 0.8;
  font-size: small;
}
