.container {
  background-color: #f5f5f5;
}

.separator {
  border: 0.5px solid #ff8f00;
  margin-left: 15%;
  margin-right: 15%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.titleBox {
  color: black;
  font-size: 20px;
  width: 100%;
}

.buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.listBox {
  margin-bottom: 5px;
  flex-grow: 1;
  overflow-y: auto;
  height: 0px;
}

.marginLeft {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.simplePaddingLeft {
  padding-left: 20px;
}

.flexEnd {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 10px;
  align-self: flex-end;
  display: inline-flex;
}

.textInput {
  border: 1px solid #ff8f00;
  border-radius: 10px;
  height: 20px;
  outline: none;
  padding: 5px;
}

.grid_container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.grid_item {
  margin: 10px;
  background-color: white;
  border: 1px solid #ff8f00;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  height: 80vh;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
}

.logicButton {
  color: white;
  border-radius: 20px;
  background-color: #1cb3f4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #558b2f;
  outline: none;
  min-width: 200px;
}

.startButton {
  color: white;
  background-color: #558b2f;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #558b2f;
  outline: none;
  min-width: 200px;
  min-height: 30px;
}

.stopButton {
  color: white;
  background-color: #c62828;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #c62828;
  outline: none;
  min-width: 200px;
  min-height: 30px;
}

.menuContainer {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.icon:hover {
  cursor: pointer;
}

.menuElement:hover {
  cursor: pointer;
}

.icon {
  color: #ff8f00;
  align-self: center;
}

.center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.selectMethodContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  height: 90vh;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexRowDomain {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
